<div class="features-wrapper one">
  <div class="container">
    <div class="section-name one">
      <h2>What We Do</h2>
      <div class="short-text">
        <h5>Here is all Reasons to Work With Us</h5>
      </div>
    </div>
    <div class="row features">
      <div class="col-md-4 col-sm-6 ">
        <div class="feature clearfix">
          <div class="icon_we">
            <img src="{{ .Site.BaseURL }}/img/icon/matrimony.png" alt="" height="60px" width="60px">
          </div>
          <h4>Matrimonial</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, maiores officia placeat incidunt aperiam</p>
          <a href="{{ .Site.BaseURL }}matrimonial/" class="btn btn-min btn-secondary"><span>Learn More</span></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature clearfix">
          <div class="icon_we"><i class="fa fa-medkit" aria-hidden="true"></i></div>
          <h4> Blood Donor </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, maiores officia placeat incidunt aperiam</p>
          <a href="{{ .Site.BaseURL }}blooddonor/" class="btn btn-min btn-secondary"><span>Learn More</span></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 hidden-sm ">
        <div class="feature clearfix">
          <div class="icon_we"><i class="fa fa-handshake-o"></i></div>
          <h4>Business</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, maiores officia placeat incidunt aperiam</p>
          <a href="{{ .Site.BaseURL }}business/" class="btn btn-min btn-secondary"><span>Learn More</span></a>
        </div>
      </div>
    </div>
    <div class="row features">
      <div class="col-md-4 col-sm-6 ">
        <div class="feature clearfix">
          <div class="icon_we"><i class="fa fa-users" aria-hidden="true"></i></div>
          <h4>Job Portal</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, maiores officia placeat incidunt aperiam</p>
          <a href="{{ .Site.BaseURL }}jobportal/" class="btn btn-min btn-secondary"><span>Learn More</span></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature clearfix">
          <div class="icon_we"><i class="fa fa-university" aria-hidden="true"></i></div>
          <h4>Seva Organization</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, maiores officia placeat incidunt aperiam</p>
          <a href="{{ .Site.BaseURL }}sevaorganization/" class="btn btn-min btn-secondary"><span>Learn More</span></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 hidden-sm ">
        <div class="feature clearfix">
          <div class="icon_we"><i class="fa fa-list" aria-hidden="true"></i></div>
          <h4>Corporate Office</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, maiores officia placeat incidunt aperiam</p>
          <a href="{{ .Site.BaseURL }}corporateoffice/" class="btn btn-min btn-secondary"><span>Learn More</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
