<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Title }}</title>
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}owl-carousel/assets/owl.carousel.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/animate.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/meanmenu.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/nivo-lightbox.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
	<link rel="icon" href="{{ .Site.BaseURL }}img/logo.png" type="image/x-icon" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
