<div class="causes-page-wrapper single-cause">
  <div class="container">
    <div class="row cause">
      <div class="col-md-10 col-md-offset-1">
        <div class="image-wrapper">
          <img class="img-responsive" src="{{ .Site.BaseURL }}img/causes/single-cause.jpg" alt="">
        </div>
        <div class="meta">
          <center><h2>Make a Better World for Disabled Kids</h2></center>
          <div class="short-stats clearfix">
            <!-- <h5><i class="fa fa-heart-o"></i>263 donors</h5>
            <h5><i class="fa fa-clock-o"></i>18 days</h5> -->
          </div>
        </div>
        <div class="clearfix">

        </div>
        <div class="info-block">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid error, repellat, voluptatem at iste soluta veritatis aperiam, pariatur sunt odit, ad praesentium! Modi asperiores adipisci optio voluptatibus iste corporis, animi ducimus placeat tenetur reprehenderit impedit quam molestiae suscipit, eaque dignissimos eos quae omnis, quidem.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem odio quasi nobis et aliquam deleniti, facilis corrupti quas, debitis modi? Autem repellat dolorum ipsa delectus adipisci culpa, quaerat quisquam dignissimos nihil tempora iste rem. Cupiditate, odit dolor numquam est non eveniet, perspiciatis dolorem commodi delectus maxime excepturi velit quos inventore?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius doloribus consequatur ratione, assumenda ipsum, quos itaque inventore ducimus voluptate, quas aliquid commodi sint. Nihil aut dolorem sed temporibus! At, ea dignissimos. Magni id fuga quidem tempora doloremque eaque dicta quia assumenda, odit ullam voluptate modi soluta, corrupti eum possimus. Possimus nesciunt cumque, consequuntur, sint aspernatur illum molestias atque consectetur voluptates quibusdam perspiciatis voluptate ipsa nostrum.</p>

        </div>
      </div>
    </div>
  </div>
  <div class="donation-wrapper" id="donate">

  </div>
</div>
