<div class="blog-page-wrapper">
  <div class="container">
    <div class="row">
      <div class="blog-posts col-md-8">
        <div class="blog-post single-post">
          <a href="{{ .Permalink }}"><h2>{{ .Params.personname }}</h2></a>
          <div class="meta">
            <h5><i class="fa fa-id-badge" aria-hidden="true"></i>{{ .Params.postname }}</h5>
            <!-- <h5><i class="fa fa-clock-o"></i><a href="#">21  jan, 2017</a></h5>
            <h5><i class="fa fa-folder-open"></i><a href="#">Poor</a> / <a href="#">HomeLess</a> / <a href="#">Cause</a></h5>
            <h5><i class="fa fa-comment"></i><a href="#">86 Comments</a></h5> -->
          </div>
          <div class="img-wrapper" >
            <img class="img-responsive" src="{{ .Site.BaseURL }}img/best-volunte-7.jpg" alt="">
          </div>
          <p class="first">{{ .Description }}</p>
          <!-- <p class="first">Etiam at consectetur nisl. Donec rutrum volutpat turpis ac lobortis. Fusce sit amet orci ante. Duis faucibus interdumd. Mauris tempor sem at venenatis sagittis. Fusce vel maximus diam. Praesent ut vehicula eros. Nunc quis egestas turpis. Sed posuere unc at dui tempus maximus. In fringilla dui in eros blandit, ac pulvinar magna dapibus. Nunc in nisi id tellus placerat consectetur ac tincidunt turpis. Pellentesque ut metus lacus. Mauris non velit vulputate lorem scelerisque rutrum non tristique leo. Sed vitae arcu nec nibh egestas ultrices </p> -->
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident aliquid porro a velit doloribus nobis cum sint beatae neque iusto molestias fuga, eaque vero natus maxime quam sunt optio praesentium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci maxime beatae aut deleniti sapiente explicabo velit dolorem suscipit nesciunt non.</p>
          <h4 class="subheader">Lorem Ipsum The Cite</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolorem, non omnis. Beatae quibusdam aperiam modi ut sed perspiciatis, quo doloremque in facilis eveniet porro inventore explicabo obcaecati. Aperiam ad nemo fugit in minima officiis accusantium aspernatur nobis, itaque incidunt ullam, laborum atque est ipsum ab voluptatibus quae inventore placeat voluptatum quo quia cum cumque cupiditate suscipit! Architecto voluptates blanditiis dignissimos fugit mollitia. Deserunt, perferendis.</p> -->
          <blockquote>
            <i class="fa fa-quote-left"></i>
            <p>{{ .Description }}</p>
          </blockquote>
          <p>{{ .Description }}</p>
        </div>
        <!-- <div class="single-post-footer">
          <div class="tags clearfix">
            <a href="#"><span>Donation</span></a>
            <a href="#"><span>Charity</span></a>
            <a href="#"><span>Homeless</span></a>
          </div>
          <div class="author">
            <img src="assets/img/mini/img-8.jpg" alt="">
            <div class="info-block">
              <h4>lovelytheme</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi consequuntur ratione sunt tempora, labore fuga, asperiores exercitationem, accusantium id voluptates soluta</p>
              <div class="social-media clearfix">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="comments-wrapper">
            <div class="widget-title">
              <h4>There are 61 comments</h4>
              <div class="sep">
                <div class="sep-inside"></div>
              </div>
            </div>
            <div class="comments">
              <div class="comment replayed ">
                <img src="assets/img/mini/img-9.jpg" alt="">
                <div class="info-block">
                  <h4 class="user">Ronald Schultz <span>3 days ago</span></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quas cum, culpa eum expedita soluta! Ipsum voluptatibus nesciunt tenetur, est vero culpa ipsam modi officia.</p>
                  <button class="btn btn-min btn-solid"><span>Replay</span></button>
                </div>
              </div>
              <div class="comment replay">
                <img src="assets/img/mini/img-10.jpg" alt="">
                <div class="info-block">
                  <h4 class="user">Margaret Greene<span>6 hours ago</span></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, natus!</p>
                  <button class="btn btn-min btn-solid"><span>Replay</span></button>
                </div>
              </div>
              <div class="comment">
                <img src="assets/img/mini/img-11.jpg" alt="">
                <div class="info-block">
                  <h4 class="user">Vincent Lewis<span>4 days ago</span></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quas cum, culpa eum expedita soluta! Ipsum voluptatibus nesciunt tenetur, est vero culpa ipsam modi officia.</p>
                  <button class="btn btn-min btn-solid"><span>Replay</span></button>
                </div>
              </div>
              <div class="comment ">
                <img src="assets/img/mini/img-12.jpg" alt="">
                <div class="info-block">
                  <h4 class="user">Vincent Lewis <span>6 days ago</span></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quas cum, culpa eum expedita soluta! Ipsum voluptatibus nesciunt tenetur, est vero culpa ipsam modi officia.</p>
                  <button class="btn btn-min btn-solid"><span>Replay</span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="comment-form-wrapper">
            <div class="widget-title">
              <h4>Leave a comment</h4>
              <div class="sep">
                <div class="sep-inside"></div>
              </div>
            </div>
            <form class="comment-form" action="#" name="comment">
              <div class="field">
                <h4>Name</h4>
                <input type="text" name="name">
              </div>
              <div class="field">
                <h4>E-mail</h4>
                <input type="email" name="e-mail">
              </div>
              <div class="field">
                <h4>Website</h4>
                <input type="url" name="website">
              </div>
              <div class="field">
                <h4>Message</h4>
                <textarea name="messgae"></textarea>
              </div>
              <div class="field">
                <button class="btn btn-min btn-solid">Send Comment</button>
              </div>
            </form>
          </div>
        </div> -->
      </div>

    </div>
  </div>
</div>
